<!doctype html>
<html lang="en">
 {% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Contact Us</title>
</head>
<style>
    #button5 {
        border-radius: 5px;
        background-color: green;
        color: white;
    }

    #footer {

        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #f7f7f7;
        color: black;
        text-align: center;
    }

    .common {
        text-align: center;
    }

    #bg {
        background-color: #f7f7f7
    }

    .table {
        border-spacing: 0px;
    }

    html {
        zoom: 80%;
    }

    ;

    .new {
        height: 900px;
        width: 1000px;


    }

    .bg-image {
        background-image: url("{%static '/images/contactus.jpg' %}");
        box-shadow: 0 8px 6px -6px black;
        height: 700px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    #scroll {
        font-size: 20px;
    }
</style>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="nav">
        <a class="navbar-brand" href="{% url 'index' %}"> <img src="{%static '/images/symbol.png' %}"  style="height:50px; width:50px; margin-bottom:20px"><b
                style="font-size:50px;margin-left: 10px;">सबल</b> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}"><b
                            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 16px;">Home</b>
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'team' %}"><b
                            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 16px;">Our
                            Team</b> </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'activity' %}"><b
                            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 16px;">Services</b>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery' %}"><b
                            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 16px;">Photo
                            Gallery</b> </a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b
                            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 16px;">About
                            Us</b>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'about' %}"><b
                                style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 17px;">About
                                Us
                            </b></a>

                        <div class="dropdown-item"></div>
                        <a class="dropdown-item" href="{% url 'FAQ' %}"><b
                                style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 17px;">FAQs
                            </b></a>
                        <div class="dropdown-item"></div>
                        <a class="dropdown-item" href="{% url 'contact' %}"><b
                            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 17px;">Contact
                        </b></a>
                        <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSc_CT54lL7pJDcnQE3mTkzpRlHOSC0RACFqO-uHwUszPzz9KQ/viewform" target="blank"><b
                            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 17px;">Contact form<sup>new</sup>
                        </b></a>

                    </div>
                </li>



            </ul>
            <a href="{% url 'donate' %}">
                <button class="btn btn-outline my-2 my-sm-0" type="submit" style="padding: 5px 40px;" id="button5">
                    <b>Donate</b> </button>
            </a>
        </div>
    </nav>
    <br>
    <br>
    <div class="bg-image">
        <br><br><br><br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="font-size: 60px;color:brown;margin-left:725px">Contact Us</h1>
        <br>
        <div id='op' style="color:brown;text-align: center">
            <ul style="list-style-type:none;margin:auto">
                <li>
                    <h2><img src="{%static '/images/symbol.png' %}" style="height:30px; width:30px; margin:2px"> <b>सबल</b> Foundation
                    </h2>
                </li>
                <li> <img src="{%static '/images/address.jpg' %}" style="height: 25px;width: 25px;">Lorem ipsum d adipisicing elit.</li>
                <li><img src="{%static '/images/phone.png' %}" style="height: 20px;width: 25px;">Contact no.:+91-XX2-25XXX0</li>
                <li><img src="{%static '/images/email.jpg' %}" style="height: 30px;width: 30px;"> Email Id:info@sabalxyuyz.org</li>
                <li><img src="{%static '/images/telephone.jpg' %}" style="height: 20px;width: 30px;"> Mobile no.:+91-XX2-25XXX0</li>
                <li><img src="{%static '/images/phone.png' %}" style="height: 20px;width: 25px;">Emergency no:+91-XX2-25XX</li>
            </ul>
        </div>
        <br>
        <br>
    </div>







        <div id="bg">
    <div id="footer" style="padding: 1%;">
        <h2
            style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <img src="{%static '/images/symbol.png' %}"style="height: 25px;width: 30px;"> <b>सबल</b> Foundation </h2>
        <p
            style="color: black;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">
            सबल<sup> © </sup> . All rights reserved | Created by Tanvesh Chavan</p>

        <p
            style="color: black;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            Follow us</p>

        <a href="#" target="_blank">

            <img src="{%static '/images/fblogo.png' %}"height="40px" width="40px">
        </a>

        <a href="#" target="_blank">
            <img src="{%static '/images/inst.jpg' %}" height="50px" width="50px">
        </a>

        <a href="#" target="_blank">
            <img src="{%static '/images/youtubelogo.jpg' %}" height="50px" width="50px">
        </a>




    </div>
    </div>
    <script>
        var header = document.querySelector("#scroll")



        function getRandomColor() {
            var letters = "0123456789ABCDEF";
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color
        }


        function changeHeaderColor() {
            colorInput = getRandomColor()
            header.style.color = colorInput;
        }


        setInterval("changeHeaderColor()", 500);

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>


</html>